<footer class="footer">
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<nav class="nav--footer menu-centered">
				<ul class="menu">
					{{#each nav--footer}}
					<li><a title="{{ this.name }}" href="{{ this.url }}" target="{{ this.target }}"><i class="fa fa-2x fa-{{ this.icon }}"></i></a></li>
					{{/each}}
				</ul>
			</nav>
			<p class="text-center copyright">
				Copyright 2017 Sarai Integrative Health<br />
				<a href="https://dustinharrell.com" target="_blank">Asheville Website Design by Dustin Harrell</a>
			</p>
		</div>
	</div>
</footer>