// Grid Styles
.row {
	padding-top: 2rem;
	padding-bottom: 2rem;
	&.full-width {
		max-width: 100%;
		margin: 0;
	}
	&.no-padding {
		padding: 0;
	}
	&.no-margin {
		margin: 0;
	}
}


// Utility Classes
.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.stupid-big {
	font-size: 5rem;
	@include breakpoint(medium) {
		font-size: 7.5rem;
	}
	@include breakpoint(large) {
		font-size: 10rem;
	}
}

// Base Styles
html.error {
	background: $body-background url(../img/bg--pattern.png) repeat;
	body {
		background: transparent;
	}
}
.page {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: $body-background url(../img/bg--pattern.png) repeat;
}

h1 {
	color: $blue;
}

h2, h3 {
	color: $medium-gray;
}

hr {
	margin: 2rem 0;
	height: 1px;
	width: 100%;
	background: lighten($dark-gray, 60%);
	border: none;
}

// Namespaces and re-usable classes
.loader {
	@include absolute-center;
	z-index: 0;
	color: $white;
}
.map {
	border: 1px solid lighten($dark-gray, 60%);
}
.description {
	margin: .5rem 0;
	font-size: $small-font-size;
	color: $medium-gray;
}