@font-face {
	font-family: 'Amatic SC';
	src: url('../fonts/amaticsc-regular-webfont.woff2') format('woff2'),
	url('../fonts/amaticsc-regular-webfont.woff') format('woff'),
	url('../fonts/amaticsc-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amatic SC';
	src: url('../fonts/amaticsc-bold-webfont.woff2') format('woff2'),
	url('../fonts/amaticsc-bold-webfont.woff') format('woff'),
	url('../fonts/amaticsc-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quasimoda Light';
	src: url('../fonts/quasimoda-light-webfont.eot');
	src: url('../fonts/quasimoda-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/quasimoda-light-webfont.woff2') format('woff2'),
	url('../fonts/quasimoda-light-webfont.woff') format('woff'),
	url('../fonts/quasimoda-light-webfont.ttf') format('truetype'),
	url('../fonts/quasimoda-light-webfont.svg#quasimoda-light-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
