header.header {
	position: relative;
	background: url(../img/banner--trees.jpg) no-repeat center center;
	background-size: cover;
	&:after {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		content: '';
		height: 100%;
		width: 100%;
		background: rgba($black, .4);
	}
}

.header__content {
	position: relative;
	z-index: 1;
	padding: 2rem;
}

.logo {
	height: auto;
	max-width: 3rem;
	@include breakpoint(medium) {
		max-width: 4rem;
	}
	@include breakpoint(large) {
		max-width: 5rem;
	}
}

.site-name {
	font-family: $header-font-family;
	font-size: 2rem;
	@include breakpoint(medium) {
		font-size: 3rem;
	}
	@include breakpoint(large) {
		font-size: 4rem;
	}
}

.slogan {
	font-family: $header-font-family;
	color: $white;
	font-size: 1.5rem;
	@include breakpoint(medium) {
		font-size: 1.75rem;
	}
	@include breakpoint(large) {
		font-size: 2rem;

	}
}