.header__content {
	position: relative;
	z-index: 1;
	padding: 2rem;
}

.logo {
	height: auto;
	max-width: 5rem;
	margin-bottom: 1rem;
	@include breakpoint(medium) {
		max-width: 6rem;
	}
	@include breakpoint(large) {
		max-width: 7rem;
	}
}

.site-name {
	font-family: $header-font-family;
	font-size: 1.5rem;
	@include breakpoint(medium) {
		font-size: 2rem;
	}
	@include breakpoint(large) {
		font-size: 3rem;
	}
}

.slogan {
	font-family: $header-font-family;
	color: $medium-gray;
	font-size: 1.125rem;
	@include breakpoint(medium) {
		font-size: 1.25rem;
	}
	@include breakpoint(large) {
		font-size: 1.5rem;

	}
}